@page "/magic-login"

@using DugnadApp.Data
@using DugnadApp.Models
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Authorization
@inject DugnadDbContext DbContext

<h3>Logger inn...</h3>

<p>@Melding</p>

@code {

    [SupplyParameterFromQuery]
    public string? Token { get; set; }

    private string Melding = "Kontrollerer token...";

    protected override async Task OnParametersSetAsync()
    {      

        var loginToken = await DbContext.LoginTokens
    .Include(x => x.Beboer)
    .FirstOrDefaultAsync(x => x.Token == Token);

        if (loginToken == null)
        {
            Melding = "Innloggingslenken er ugyldig.";
            return;
        }

        if (loginToken.Brukt)
        {
            Melding = "Innloggingslenken er allerede brukt.";
            return;
        }

        if (loginToken.Utloper <= DateTime.UtcNow)
        {
            Melding = "Innloggingslenken har utløpt.";
            return;
        }

        var claims = new List<Claim>
{
    new(ClaimTypes.NameIdentifier, loginToken.BeboerId.ToString()),
    new(ClaimTypes.Name,
        $"{loginToken.Beboer?.Fornavn} {loginToken.Beboer?.Etternavn}")
};

        var identity = new ClaimsIdentity(
            claims,
            CookieAuthenticationDefaults.AuthenticationScheme);

        var principal = new ClaimsPrincipal(identity);

        await HttpContextAccessor.HttpContext!.SignInAsync(
            CookieAuthenticationDefaults.AuthenticationScheme,
            principal);

        loginToken.Brukt = true;
        await DbContext.SaveChangesAsync();

        Navigation.NavigateTo("/timeregistrering", true);
    }
}
